body {
  font-family: "Roboto", sans-serif;
}
ul,
ol {
  list-style-type: none;
}
a {
  text-decoration: none;
}
/* #region header */
.header {
  display: flex;
  box-shadow: 0 4px 24px 0 rgba(105, 105, 105, 0.1);
  background: #fefefe;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
}
.logo {
  display: flex;
}
.logo-img {
  display: block;
}
.nav {
  margin-left: 735px;
}
.menu {
  display: flex;
  justify-content: center;
  gap: 28px;
}

.menu-item:first-child .menu-link {
  font-weight: 700;
  text-decoration: underline;
  color: #bbf330;
}
.menu-link {
  font-weight: 400;
  font-size: 14px;
  color: #2c2c2c;
}
.button-header {
  font-weight: 500;
  font-size: 13px;
  line-height: 1.5;
  text-align: right;
  color: #2c2c2c;
  background: #bbf330;
  border-radius: 30px;
  border: none;
  cursor: pointer;
  margin-right: 30px;
}
/* #endregion header */
/* #region hero */
.hero {
  padding-top: 159px;
  margin-bottom: 55px;
  display: flex;
}
.hero-container {
  display: block;
  max-width: 511px;
  padding-left: 16px;
}
h1 {
  font-weight: 700;
  font-size: 48px;
  line-height: 1.2;
  color: #2c2c2c;
}
.hero-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #2c2c2c;
}
.image-container {
  display: flex;
}
.overlay-image {
  display: block;
  position: absolute;
}
.background-image {
  display: block;
  margin: 0;
  padding: 0;
}
/* #endregion hero */
